.sidebar {
  color: white;
  background-color: black;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 1024px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav img {
  margin-bottom: 20px;
}
.text {
  rotate: -90deg;
  padding: 0px;
  font-size: 12px;
  width: max-content;
  padding-right: 80px;
}
