.sidebar {
  color: white;
  background-color: black;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.sidebar-nav img {
  margin-bottom: 20px;
}
.text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  rotate: -90deg;
  padding: 0px;
  width: max-content;
  padding-right: 80px;
}
